@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Te Amo gordita Esponjosa</h1>
    <h1 class="display-4">Gracias por llegar a mi vida</h1>
    <h1 class="display-4">Gracias por darme ese bebe tan bonito que tenemos</h1>


</div>
