@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome a la pagina .net With GitHub</h1>
    <br />
    <h1 class="display-4">Prod V1</h1>


</div>
